

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header-utilities nav {
    width: 40%;
}

.header-nav {
    display: flex;
    align-items: center;
    
}

.header__right-list{
    display: flex;
    width: 100%;
    gap:60px;
}


.header-nav__link {
    color: #000000;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
}

.header__item-link{
    text-decoration: none;
}

main{
 background-color: rgb(214, 214, 214);
}

footer {
        position: relative;
        padding-bottom: 10px;
        width: 100%;
  
}

.footer__item {
   
        background-color: #ffffff;
        color: black;
        text-align: center;
        padding: 30px 0;
        
}

.footer__text {
    display: block;
    font-weight: bold;
}